### 1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [1]:
test1 = 'This is a test of the emergency text system'

In [4]:
test1

'This is a test of the emergency text system'

In [3]:
with open('test1.txt',mode='w') as f:
    f.write(test1)

### 2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [5]:
with open('test1.txt') as f:
    test2 = f.read()

In [6]:
test2
#There is no difference between test1 and test2

'This is a test of the emergency text system'

### 3. Create a CSV file called books.csv by using these lines:
- title,author,year
- The Weirdstone of Brisingamen,Alan Garner,1960
- Perdido Street Station,China Miéville,2000
- Thud!,Terry Pratchett,2005
- The Spellman Files,Lisa Lutz,2007
- Small Gods,Terry Pratchett,1992

In [12]:
import csv

In [17]:
records =[['title','author','year'], 
          ['The Weirdstone of Brisingamen','Alan Garner','1960'],
          ['Perdido Street Station','China Miéville','2000'],
          ['Thud!','Terry Pratchett','2005'],
          ['The Spellman Files','Lisa Lutz','2007'],
          ['Small Gods','Terry Pratchett','1992']]

In [19]:
with open('books.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(records)

### 4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [20]:
import sqlite3

In [21]:
con = sqlite3.connect('books.db')

In [22]:
cur = con.cursor()

In [28]:
cur.execute("CREATE TABLE books(title text, author text, score integer)")

In [30]:
res = cur.execute("SELECT name FROM sqlite_master")

In [31]:
res.fetchall()

[('books',)]

In [36]:
con.close()

### 5. Read books.csv and insert its data into the book table.

In [42]:
with open('books.csv') as f:
    reader = csv.reader(f)
    new_con = sqlite3.connect('books.db')
    new_cur = new_con.cursor()
    counter = 0
    for i in reader:
        print(i[0],i[1],i[2])
        if counter != 0:
            new_cur.execute(f'INSERT INTO books VALUES("{i[0]}","{i[1]}",{i[2]})')
        else:
            pass
        counter = counter + 1
    new_con.commit()
    new_con.close()

title author year
The Weirdstone of Brisingamen Alan Garner 1960
Perdido Street Station China Miéville 2000
Thud! Terry Pratchett 2005
The Spellman Files Lisa Lutz 2007
Small Gods Terry Pratchett 1992

### 6. Select and print the title column from the book table in alphabetical order.

In [50]:
new_con1 = sqlite3.connect('books.db')
new_cur1 = new_con1.cursor()
re_ob = new_cur1.execute('select title from books order by title')

In [51]:
for items in re_ob:
    print(items)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)

In [52]:
new_con1.close()

### 7. From the book table, select and print all columns in the order of publication.

In [54]:
new_con1 = sqlite3.connect('books.db')
new_cur1 = new_con1.cursor()
re_ob = new_cur1.execute('select * from books order by score')
for items in re_ob:
    print(items)
new_con1.close()

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Small Gods', 'Terry Pratchett', 1992)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)

### 8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [2]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///books.db', echo = True)

In [5]:
conn = engine.connect()
result = conn.execute('select * from books')

2023-01-09 19:36:05,283 INFO sqlalchemy.engine.base.Engine select * from books
2023-01-09 19:36:05,285 INFO sqlalchemy.engine.base.Engine ()

In [6]:
for rows in result:
    print(rows)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

In [7]:
conn.close()

### 9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [8]:
pip install redis

Collecting redis
  Downloading redis-4.4.1-py3-none-any.whl (237 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Installing collected packages: async-timeout, redis
Successfully installed async-timeout-4.0.2 redis-4.4.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
import redis
conn = redis.Redis()
conn.delete('test')
conn.hmset('test', {'count': 1, 'name': 'Fester Bestertester'})
conn.hgetall('test')

### 10. Increment the count field of test and print it

In [ ]:
conn.hincrby('test','count', 3)