## 1. Write a Python Program to implement your own myreduce() function which works exactly like Python's built-in function reduce()

In [2]:
#Importing the reduce function
from functools import reduce

In [4]:
#Creating a list & checking the functionality of reduce function to get the sum of all records in a list
lis=[1,4,3,2,5,0,9,2]
reduce(lambda a,b : a if a > b else b,lis)

9

In [5]:
#Verifying the functionality of the reduce to check the maximum numbers in a list
lis=[1,4,3,2,5,0,9,2]
reduce(lambda a,b : a+b,lis)

26

### Building myreduce() function to implement the same functionality of the built in reduce function

In [23]:
def my_reduce(function, iterable, initializer=None):
    it = iter(iterable)
    if initializer is None:
        value = next(it)
    else:
        value = initializer
    for element in it:
        value = function(value, element)
    return value

In [24]:
def my_add(a, b):
    result = a + b
    print(f"{a} + {b} = {result}")
    return result

In [25]:
my_add(5,10)

5 + 10 = 15

15

In [34]:
def my_max(a,b):
    if(a>b):
        result=a
        print(f"{a} > {b} - {result}")
    else:
        result=b
        print(f"{b} > {a} - {result}")
    return result

In [35]:
my_max(10,590)

590 > 10 - 590

590

In [39]:
lis=[23,45,677,987,1,2,3,56,7]
lis

[23, 45, 677, 987, 1, 2, 3, 56, 7]

In [40]:
my_reduce(my_add,lis)

23 + 45 = 68
68 + 677 = 745
745 + 987 = 1732
1732 + 1 = 1733
1733 + 2 = 1735
1735 + 3 = 1738
1738 + 56 = 1794
1794 + 7 = 1801

1801

In [41]:
my_reduce(my_max,lis)

45 > 23 - 45
677 > 45 - 677
987 > 677 - 987
987 > 1 - 987
987 > 2 - 987
987 > 3 - 987
987 > 56 - 987
987 > 7 - 987

987

##### Performing the same activity using Lambda Function

In [42]:
my_reduce(lambda x,y:x+y,lis)

1801

In [44]:
my_reduce(lambda a,b : a if a > b else b,lis)

987

## 2.Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [1]:
lis1=[1,2,3,4,5,6,7,8,9,10,23,45,67,88,98,99]
lis1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 23, 45, 67, 88, 98, 99]

In [11]:
def even_number(lis):
    result=[]
    for i in lis:
        if(i%2==0):
            result.append(i)
    return result

In [15]:
def even_num(num):
    if(num%2==0):
        return num

In [17]:
even_num(8)

8

In [12]:
even_number(lis1)

[2, 4, 6, 8, 10, 88, 98]

In [18]:
list(filter(even_num,lis1))

[2, 4, 6, 8, 10, 88, 98]

In [22]:
list(filter(lambda x: x%2==0,lis1))

[2, 4, 6, 8, 10, 88, 98]

## List Comprehension

### Write a list comprehension to print the following 
### ['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']
### ['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']
### [(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]
### [[2], [3], [4], [3], [4], [5], [4], [5], [6]] 
### [[2, 3, 4, 5], [3, 4, 5, 6],[4, 5, 6, 7], [5, 6, 7, 8]]

In [9]:
[i*j for i in 'xyz' for j in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [11]:
[i*j for j in range(1,5) for i in 'xyz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [27]:
lst1=[1,2,3]
lst2=[1,2,3]
[(y,x) for x in lst1 for y in lst2]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [35]:
lst = [2,3,4]
[[item+num] for item in lst for num in range(0,3)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [36]:
lst = [2,3,4,5]
[[item+num for item in lst] for num in range(0,3)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7]]