Question1. Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.

Examples

evenly_divisible(1, 10, 20) ➞ 0

No number between 1 and 10 can be evenly divided by 20.

evenly_divisible(1, 10, 2) ➞ 30

2 + 4 + 6 + 8 + 10 = 30

evenly_divisible(1, 10, 3) ➞ 18

3 + 6 + 9 = 18

In [10]:
def sum_of_numbers(a,b,c):
    list_to_sum=list()
    for i in range(a,(b+1)):
        if i%c==0:
            list_to_sum.append(i)
    if len(list_to_sum)==0:
        print(f'No number between {a} and {b} can be evenly divided by {c}')
    return sum(list_to_sum)

In [11]:
sum_of_numbers(1,10,20)

No number between 1 and 10 can be evenly divided by 20

0

In [12]:
sum_of_numbers(1,10,2)

30

In [13]:
sum_of_numbers(1,10,3)

18

Question2. Create a function that returns True if a given inequality expression is correct and False otherwise.

Examples

correct_signs("3 < 7 < 11") ➞ True

correct_signs("13 > 44 > 33 > 1") ➞ False

correct_signs("1 < 2 < 6 < 9 > 3") ➞ True

In [20]:
def check_the_condition():
    condition_to_check=input('Enter the signs :')
    result=eval(condition_to_check)
    return result

In [21]:
check_the_condition()

Enter the signs :3<7<11

True

In [23]:
check_the_condition()

Enter the signs :13>44>33<1

False

In [24]:
check_the_condition()

Enter the signs :1<2<6<9>3

True

Question3. Create a function that replaces all the vowels in a string with a specified character.

Examples

replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"

replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"

replace_vowels("shakespeare", "*") ➞ "sh*k*sp**r*"

In [28]:
def replace_vowels(input_str, special_char):
    vowels = 'aeiouAEIOU'
    output_str = ''
    for char in input_str:
        if char in vowels:
            output_str += special_char
        else:
            output_str += char
    return output_str

In [29]:
replace_vowels('the aardvark','#')

'th# ##rdv#rk'

In [30]:
replace_vowels('minnie mouse','?')

'm?nn?? m??s?'

In [32]:
replace_vowels('shakespeare',"*")

'sh*k*sp**r*'

Question4. Write a function that calculates the factorial of a number recursively.

Examples

factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1

In [50]:
def find_factorial(num):
    my_ls=list(range(1,(num+1)))
    my_ls=my_ls[::-1]
    prod=1
    for vals in my_ls:
        prod=prod*vals
    return prod

In [51]:
find_factorial(5)

120

In [52]:
find_factorial(3)

6

In [53]:
find_factorial(1)

1

In [54]:
find_factorial(0)

1

Question 5

Hamming distance is the number of characters that differ between two strings.

To illustrate:

String1: "abcbba"

String2: "abcbda"

Hamming Distance: 1 - "b" vs. "d" is the only difference.
Create a function that computes the hamming distance between two strings.
Examples
hamming_distance("abcde", "bcdef") ➞ 5

hamming_distance("abcde", "abcde") ➞ 0

hamming_distance("strong", "strung") ➞ 1

In [62]:
def hamming_dist(str1,str2):
    diff_count=0
    for i,j in zip(str1,str2):
        if i!=j:
            diff_count=diff_count+1
    return diff_count

In [63]:
hamming_dist('abcde','bcdef')

5

In [64]:
hamming_dist('abcde','abcde')

0

In [65]:
hamming_dist('strong','strung')

1