Question1. Write a function that stutters a word as if someone is struggling to read it. The first two letters are repeated twice with an ellipsis ... and space after each, and then the word is pronounced with a question mark ?.

Examples

stutter("incredible") ➞ "in... in... incredible?"

stutter("enthusiastic") ➞ "en... en... enthusiastic?"

stutter("outstanding") ➞ "ou... ou... outstanding?"

Hint :- Assume all input is in lower case and at least two characters long.

In [15]:
def str_print_twice(my_str):
    for i in range(3):
        if i<=1:
            print(my_str[0:2],end='..')
        else:
            print(my_str,end='?')

In [23]:
str_print_twice('incredible')
print('\t')
str_print_twice('enthusiastic')
print('\t')
str_print_twice('outstanding')

in..in..incredible?
en..en..enthusiastic?
ou..ou..outstanding?

Question 2.Create a function that takes an angle in radians and returns the corresponding angle in degrees rounded to one decimal place.

Examples

radians_to_degrees(1) ➞ 57.3

radians_to_degrees(20) ➞ 1145.9

radians_to_degrees(50) ➞ 2864.8

In [42]:
def radians_to_degree(radians):
    pi=3.14
    degrees = radians * (180 / pi)
    return round(degrees,1)

In [45]:
print(radians_to_degree(1))
print(radians_to_degree(20))
print(radians_to_degree(50))

57.3
1146.5
2866.2

Question 3. 

In this challenge, establish if a given integer num is a Curzon number. If 1 plus 2 elevated to num is exactly divisible by 1 plus 2 multiplied by num, then num is a Curzon number.
Given a non-negative integer num, implement a function that returns True if num is a Curzon number, or False otherwise.

Examples

is_curzon(5) ➞ True
 2 ** 5 + 1 = 33
 2 * 5 + 1 = 11
 33 is a multiple of 11

is_curzon(10) ➞ False
2 ** 10 + 1 = 1025
2 * 10 + 1 = 21
1025 is not a multiple of 21

is_curzon(14) ➞ True
2 ** 14 + 1 = 16385
2 * 14 + 1 = 29
16385 is a multiple of 29

In [50]:
def is_curzon(num):
    if num == 0:
        return False
    else:
        numerator = 2**num + 1
        denominator = 2*num + 1
        return numerator % denominator == 0

In [49]:
is_curzon(14)

True

In [51]:
is_curzon(10)

False

In [52]:
is_curzon(14)

True

Question 4.Given the side length x find the area of a hexagon.

In [54]:
import math

def area_of_hexagon(s):
    area = (3 * math.sqrt(3) * s ** 2) / 2
    return area

In [55]:
print("Area of hexagon with side length", s, "is:", area_of_hexagon(1))
print("Area of hexagon with side length", s, "is:", area_of_hexagon(2))
print("Area of hexagon with side length", s, "is:", area_of_hexagon(3))

Area of hexagon with side length 5 is: 2.598076211353316
Area of hexagon with side length 5 is: 10.392304845413264
Area of hexagon with side length 5 is: 23.382685902179844

Question 5. 

Create a function that returns a base-2 (binary) representation of a base-10 (decimal) string number. To convert is simple: ((2) means base-2 and (10) means base-10) 010101001(2) = 1 + 8 + 32 + 128.
Going from right to left, the value of the most right bit is 1, now from that every bit to the left will be x2 the value, value of an 8 bit binary numbers are (256, 128, 64, 32, 16, 8, 4, 2, 1).

Examples
binary(1) ➞ "1"
 1*1 = 1

binary(5) ➞ "101"
 1*1 + 1*4 = 5

binary(10) ➞ "1010"
 1*2 + 1*8 = 10

In [57]:
def decimal_to_binary(decimal_num):
    binary_num = bin(decimal_num)[2:]
    return binary_num

In [58]:
decimal_to_binary(1)

'1'

In [59]:
decimal_to_binary(5)

'101'