Question 1

Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

Examples

is_symmetrical(7227) ➞ True

is_symmetrical(12567) ➞ False

is_symmetrical(44444444) ➞ True

is_symmetrical(9939) ➞ False

is_symmetrical(1112111) ➞ True

In [4]:
def is_symmetrical(inp_num):
    str_num=str(inp_num)
    reverse_num=int(str_num[::-1])
    if inp_num==reverse_num:
        return True
    else:
        return False

In [5]:
is_symmetrical(7227)

True

In [6]:
is_symmetrical(12567)

False

In [7]:
is_symmetrical(4444444)

True

In [8]:
is_symmetrical(9939)

False

Question 2

Given a string of numbers separated by a comma and space, return the product of the numbers.

Examples

multiply_nums("2, 3") ➞ 6

multiply_nums("1, 2, 3, 4") ➞ 24

multiply_nums("54, 75, 453, 0") ➞ 0

multiply_nums("10, -2") ➞ -20

In [21]:
def multiply_nums(input_val):
    mul_res=1
    for items in input_val.split(','):
        mul_res=mul_res*int(items)
    return mul_res

In [22]:
multiply_nums('2,3')

6

In [23]:
multiply_nums('1,2,3,4')

24

In [24]:
multiply_nums('54,75,453,0')

0

In [25]:
multiply_nums('10,-2')

-20

In [ ]:
Question 3

Create a function that squares every digit of a number.

Examples

square_digits(9119) ➞ 811181

square_digits(2483) ➞ 416649

square_digits(3212) ➞ 9414

Notes

The function receives an integer and must return an integer.

In [28]:
def square_digits(inp_num):
    inp_str=str(inp_num)
    final_val=''
    for num in inp_str:
        final_val+=str(int(num)**2)
    return int(final_val)

In [29]:
square_digits(9119)

811181

In [30]:
square_digits(2483)

416649

In [31]:
square_digits(3212)

9414

Question 4

Create a function that sorts a list and removes all duplicate items from it.

Examples

setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]

setify([4, 4, 4, 4]) ➞ [4]

setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]

setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [39]:
def setify(inp_lst):
    inp_lst.sort()
    final_res=set(inp_lst)
    return list(final_res)

In [40]:
setify([1,3,3,5,5])

[1, 3, 5]

In [41]:
setify([4,4,4,4])

[4]

In [42]:
setify([5,7,8,9,10,15])

[5, 7, 8, 9, 10, 15]

In [43]:
setify([3,3,3,2,1])

[1, 2, 3]

Question 5

Create a function that returns the mean of all digits.

Examples

mean(42) ➞ 3

mean(12345) ➞ 3

mean(666) ➞ 6

Notes

•	The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).

•	The mean will always be an integer.

In [47]:
def mean(inp_num):
    mean_val=0
    sum_val=0
    for nums in str(inp_num):
        sum_val=sum_val+int(nums)
    mean_val=sum_val/len(str(inp_num))
    return int(mean_val)

In [48]:
mean(42)

3

In [49]:
mean(12345)

3

In [50]:
mean(666)

6